# Ignore everything by default
*
!.gitignore


# Allow README
!README.md

# Allow sessions 1 to 25
!session 1/
!session 1/**
!session 2/
!session 2/**
!session 3/
!session 3/**
!session 4/
!session 4/**
!session 5/
!session 5/**
!session 6/
!session 6/**
!session 7/
!session 7/**
!session 8/
!session 8/**
!session 9/
!session 9/**
!session 10/
!session 10/**
!session 11/
!session 11/**
!session 12/
!session 12/**
!session 13/
!session 13/**
!session 14/
!session 14/**
!session 15/
!session 15/**
!session 16/
!session 16/**
!session 17/
!session 17/**
!session 18/
!session 18/**
!session 19/
!session 19/**
!session 20/
!session 20/**
!session 21/
!session 21/**
!session 22/
!session 22/**
!session 23/
!session 23/**
!session 24/
!session 24/**
!session 25/
!session 25/**
